fortran/fortran77.dtd

<!ELEMENT executable_program (subprogram)>
<!ELEMENT executable_program (executable_program,subprogram)>
<!ELEMENT executable_program (program_fragment)>
<!ELEMENT subprogram (subprogram_stmnts)>
<!ELEMENT subprogram_stmnts (statements,end_statement)>
<!ELEMENT program_statement (SPROGRAM,new_proc,progname)>
<!ELEMENT program_statement (SPROGRAM,new_proc,progname,progarglist)>
<!ELEMENT subroutine_statement (SBLOCK,new_proc,progname)>
<!ELEMENT subroutine_statement (SSUBROUTINE,new_proc,entryname,arglist)>
<!ELEMENT subroutine_statement (SFUNCTION,new_proc,entryname,arglist)>
<!ELEMENT subroutine_statement (type,SFUNCTION,new_proc,entryname,arglist)>
<!ELEMENT program_fragment (statements)>
<!ELEMENT statements (terminated_statement)>
<!ELEMENT statements (statements,terminated_statement)>
<!ELEMENT terminated_statement (statement,SEOS)>
<!ELEMENT end_statement (thislabel,SEND,end_spec,SEOS)>
<!ELEMENT statement (thislabel,spec)>
<!ELEMENT statement (thislabel,exec)>
<!ELEMENT statement (thislabel,SINCLUDE,filename)>
<!ELEMENT statement (thislabel,SUNKNOWN)>
<!ELEMENT statement (comment)>
<!ELEMENT statement (error)>
<!ELEMENT statement (thislabel,program_statement)>
<!ELEMENT statement (thislabel,subroutine_statement)>
<!ELEMENT comment (SCOMMENT)>
<!ELEMENT thislabel (SLABEL)>
<!ELEMENT new_proc EMPTY><!ELEMENT entryname (name)>
<!ELEMENT name (SNAME)>
<!ELEMENT progname EMPTY><!ELEMENT progname (entryname)>
<!ELEMENT progarglist (SLPAR,SRPAR)>
<!ELEMENT progarglist (SLPAR,progargs,SRPAR)>
<!ELEMENT progargs (progarg)>
<!ELEMENT progargs (progargs,SCOMMA,progarg)>
<!ELEMENT progarg (SNAME)>
<!ELEMENT progarg (SNAME,SEQUALS,SNAME)>
<!ELEMENT arglist EMPTY><!ELEMENT arglist (SLPAR,SRPAR)>
<!ELEMENT arglist (SLPAR,args,SRPAR)>
<!ELEMENT args (arg)>
<!ELEMENT args (args,SCOMMA,arg)>
<!ELEMENT arg (name)>
<!ELEMENT arg (SSTAR)>
<!ELEMENT filename (SHOLLERITH)>
<!ELEMENT spec (dcl)>
<!ELEMENT spec (common_statement)>
<!ELEMENT spec (external)>
<!ELEMENT spec (intrinsic)>
<!ELEMENT spec (equivalence)>
<!ELEMENT spec (data)>
<!ELEMENT spec (implicit)>
<!ELEMENT spec (namelist)>
<!ELEMENT spec (SSAVE)>
<!ELEMENT spec (SSAVE,savelist)>
<!ELEMENT spec (SFORMAT)>
<!ELEMENT spec (SOPEN)>
<!ELEMENT spec (SPARAM,in_dcl,SLPAR,paramlist,SRPAR)>
<!ELEMENT dcl (type,opt_comma,name,in_dcl,new_dcl,dims,lengspec)>
<!ELEMENT dcl (dcl,SCOMMA,name,dims,lengspec)>
<!ELEMENT dcl (dcl,SSLASHD,datainit,vallist,SSLASHD)>
<!ELEMENT new_dcl EMPTY><!ELEMENT type (typespec,lengspec)>
<!ELEMENT typespec (typename)>
<!ELEMENT typename (SINTEGER)>
<!ELEMENT typename (SREAL)>
<!ELEMENT typename (SCOMPLEX)>
<!ELEMENT typename (SDOUBLE)>
<!ELEMENT typename (SDCOMPLEX)>
<!ELEMENT typename (SLOGICAL)>
<!ELEMENT typename (SCHARACTER)>
<!ELEMENT typename (SUNDEFINED)>
<!ELEMENT typename (SDIMENSION)>
<!ELEMENT typename (SAUTOMATIC)>
<!ELEMENT typename (SSTATIC)>
<!ELEMENT lengspec EMPTY><!ELEMENT lengspec (SSTAR,intonlyon,simple_const_int,intonlyoff)>
<!ELEMENT lengspec (SSTAR,intonlyon,SLPAR,expr,SRPAR,intonlyoff)>
<!ELEMENT lengspec (SSTAR,intonlyon,SLPAR,SSTAR,SRPAR,intonlyoff)>
<!ELEMENT common_statement (SCOMMON,in_dcl,var_list_comma,var)>
<!ELEMENT common_statement (SCOMMON,in_dcl,comblocks)>
<!ELEMENT var_list_comma EMPTY><!ELEMENT var_list_comma (var_list_comma,var,SCOMMA)>
<!ELEMENT var_list_with_opt_comma (var_list_comma)>
<!ELEMENT var_list_with_opt_comma (var_list_comma,var)>
<!ELEMENT comblocks (comblock)>
<!ELEMENT comblocks (comblocks,comblock)>
<!ELEMENT comblock (comhead,var_list_with_opt_comma)>
<!ELEMENT comhead (SCONCAT)>
<!ELEMENT comhead (SSLASH,name,SSLASH)>
<!ELEMENT var_list EMPTY><!ELEMENT var_list (var)>
<!ELEMENT var_list (var_list,SCOMMA,var)>
<!ELEMENT external (SEXTERNAL,in_dcl,name)>
<!ELEMENT external (external,SCOMMA,name)>
<!ELEMENT intrinsic (SINTRINSIC,in_dcl,name)>
<!ELEMENT intrinsic (intrinsic,SCOMMA,name)>
<!ELEMENT equivalence (SEQUIV,in_dcl,equivset)>
<!ELEMENT equivalence (equivalence,SCOMMA,equivset)>
<!ELEMENT equivset (SLPAR,equivlist,SRPAR)>
<!ELEMENT equivlist (lhs)>
<!ELEMENT equivlist (equivlist,SCOMMA,lhs)>
<!ELEMENT data (SDATA,in_data,datalist)>
<!ELEMENT data (data,opt_comma,datalist)>
<!ELEMENT in_data EMPTY><!ELEMENT datalist (datainit,datavarlist,SSLASH,datapop,vallist,SSLASH)>
<!ELEMENT datainit EMPTY><!ELEMENT datapop EMPTY><!ELEMENT vallist (val)>
<!ELEMENT vallist (vallist,SCOMMA,val)>
<!ELEMENT val (value)>
<!ELEMENT val (simple,SSTAR,value)>
<!ELEMENT value (simple)>
<!ELEMENT value (addop,simple)>
<!ELEMENT value (complex_const)>
<!ELEMENT savelist (saveitem)>
<!ELEMENT savelist (savelist,SCOMMA,saveitem)>
<!ELEMENT saveitem (name)>
<!ELEMENT saveitem (comhead)>
<!ELEMENT paramlist (paramitem)>
<!ELEMENT paramlist (paramlist,SCOMMA,paramitem)>
<!ELEMENT paramitem (name,SEQUALS,expr)>
<!ELEMENT var (name,dims)>
<!ELEMENT datavar (lhs)>
<!ELEMENT datavar (SLPAR,datavarlist,SCOMMA,dospec,SRPAR)>
<!ELEMENT datavarlist (datavar)>
<!ELEMENT datavarlist (datavarlist,SCOMMA,datavar)>
<!ELEMENT dims EMPTY><!ELEMENT dims (SLPAR,dimlist,SRPAR)>
<!ELEMENT dimlist (dim)>
<!ELEMENT dimlist (dimlist,SCOMMA,dim)>
<!ELEMENT dim (ubound)>
<!ELEMENT dim (expr,SCOLON,ubound)>
<!ELEMENT ubound (SSTAR)>
<!ELEMENT ubound (expr)>
<!ELEMENT labellist (label)>
<!ELEMENT labellist (labellist,SCOMMA,label)>
<!ELEMENT label (SICON)>
<!ELEMENT implicit (SIMPLICIT,in_dcl,implist)>
<!ELEMENT implicit (implicit,SCOMMA,implist)>
<!ELEMENT implist (imptype,SLPAR,letgroups,SRPAR)>
<!ELEMENT implist (imptype)>
<!ELEMENT imptype (type)>
<!ELEMENT letgroups (letgroup)>
<!ELEMENT letgroups (letgroups,SCOMMA,letgroup)>
<!ELEMENT letgroup (letter)>
<!ELEMENT letgroup (letter,SMINUS,letter)>
<!ELEMENT letter (SNAME)>
<!ELEMENT namelist (SNAMELIST)>
<!ELEMENT namelist (namelist,namelistentry)>
<!ELEMENT namelistentry (SSLASH,name,SSLASH,namelistlist)>
<!ELEMENT namelistlist (name)>
<!ELEMENT namelistlist (namelistlist,SCOMMA,name)>
<!ELEMENT in_dcl EMPTY><!ELEMENT funarglist EMPTY><!ELEMENT funarglist (funargs)>
<!ELEMENT funargs (expr)>
<!ELEMENT funargs (funargs,SCOMMA,expr)>
<!ELEMENT expr (uexpr)>
<!ELEMENT expr (SLPAR,expr,SRPAR)>
<!ELEMENT expr (complex_const)>
<!ELEMENT uexpr (lhs)>
<!ELEMENT uexpr (simple_const)>
<!ELEMENT uexpr (expr,addop,expr)>
<!ELEMENT uexpr (expr,SSTAR,expr)>
<!ELEMENT uexpr (expr,SSLASH,expr)>
<!ELEMENT uexpr (expr,SPOWER,expr)>
<!ELEMENT uexpr (addop,expr)>
<!ELEMENT uexpr (expr,relop,expr)>
<!ELEMENT uexpr (expr,SEQV,expr)>
<!ELEMENT uexpr (expr,SNEQV,expr)>
<!ELEMENT uexpr (expr,SOR,expr)>
<!ELEMENT uexpr (expr,SAND,expr)>
<!ELEMENT uexpr (SNOT,expr)>
<!ELEMENT uexpr (expr,SCONCAT,expr)>
<!ELEMENT addop (SPLUS)>
<!ELEMENT addop (SMINUS)>
<!ELEMENT addop (SPERCENT)>
<!ELEMENT relop (SEQ)>
<!ELEMENT relop (SGT)>
<!ELEMENT relop (SLT)>
<!ELEMENT relop (SGE)>
<!ELEMENT relop (SLE)>
<!ELEMENT relop (SNE)>
<!ELEMENT lhs (name)>
<!ELEMENT lhs (name,substring)>
<!ELEMENT lhs (name,SLPAR,funarglist,SRPAR)>
<!ELEMENT lhs (name,SLPAR,funarglist,SRPAR,substring)>
<!ELEMENT substring (SLPAR,opt_dims,SRPAR)>
<!ELEMENT opt_dim (opt_expr,SCOLON,opt_expr)>
<!ELEMENT opt_dims (opt_dim)>
<!ELEMENT opt_dims (opt_dims,SCOMMA,opt_dim)>
<!ELEMENT opt_expr EMPTY><!ELEMENT opt_expr (expr)>
<!ELEMENT simple (name)>
<!ELEMENT simple (simple_const)>
<!ELEMENT simple_const (STRUE)>
<!ELEMENT simple_const (SFALSE)>
<!ELEMENT simple_const (SHOLLERITH)>
<!ELEMENT simple_const (simple_const_int)>
<!ELEMENT simple_const (SRCON)>
<!ELEMENT simple_const (SDCON)>
<!ELEMENT simple_const (bit_const)>
<!ELEMENT simple_const_int (SICON)>
<!ELEMENT complex_const (SLPAR,uexpr,SCOMMA,uexpr,SRPAR)>
<!ELEMENT bit_const (SHEXCON)>
<!ELEMENT bit_const (SOCTCON)>
<!ELEMENT bit_const (SBITCON)>
<!ELEMENT fexpr (unpar_fexpr)>
<!ELEMENT fexpr (SLPAR,fexpr,SRPAR)>
<!ELEMENT unpar_fexpr (lhs)>
<!ELEMENT unpar_fexpr (fexpr,SEQUALS,fexpr)>
<!ELEMENT unpar_fexpr (simple_const)>
<!ELEMENT unpar_fexpr (fexpr,addop,fexpr)>
<!ELEMENT unpar_fexpr (fexpr,SSTAR,fexpr)>
<!ELEMENT unpar_fexpr (fexpr,SSLASH,fexpr)>
<!ELEMENT unpar_fexpr (fexpr,SPOWER,fexpr)>
<!ELEMENT unpar_fexpr (addop,fexpr)>
<!ELEMENT unpar_fexpr (fexpr,SCONCAT,fexpr)>
<!ELEMENT ss_do (SDO,end_spec,opt_comma,dospecw,SEOS)>
<!ELEMENT ss_do (SDOALL,end_spec,opt_comma,dospecw,SEOS)>
<!ELEMENT ss_do (SDO,SWHILE,SLPAR,expr,SRPAR,SEOS)>
<!ELEMENT ss_do (SREPEAT,SEOS)>
<!ELEMENT exec (iffable)>
<!ELEMENT exec (SDO,end_spec,intonlyon,label,intonlyoff,opt_comma,dospecw)>
<!ELEMENT exec (SDOALL,end_spec,intonlyon,label,intonlyoff,opt_comma,dospecw)>
<!ELEMENT exec (ss_do,statements,thislabel,SENDDO)>
<!ELEMENT exec (ss_do,statements,thislabel,SUNTIL,SLPAR,expr,SRPAR)>
<!ELEMENT exec (logif,iffable)>
<!ELEMENT exec (logif,STHEN)>
<!ELEMENT exec (SELSEIF,end_spec,SLPAR,expr,SRPAR,STHEN)>
<!ELEMENT exec (SELSE,end_spec)>
<!ELEMENT exec (SENDIF,end_spec)>
<!ELEMENT exec (SUNROLL,end_spec,expr)>
<!ELEMENT exec (SNODEP,var_list)>
<!ELEMENT exec (SDOALL)>
<!ELEMENT exec (SDOISV)>
<!ELEMENT exec (SDOSINGLE)>
<!ELEMENT exec (SLOCAL,var_list)>
<!ELEMENT exec (SIFSINGLE)>
<!ELEMENT exec (SENTRY,entryname,arglist)>
<!ELEMENT logif (SLOGIF,end_spec,SLPAR,expr,SRPAR)>
<!ELEMENT dospec (name,SEQUALS,exprlist)>
<!ELEMENT dospecw (dospec)>
<!ELEMENT iffable (let,lhs,SEQUALS,expr)>
<!ELEMENT iffable (SASSIGN,end_spec,assignlabel,STO,name)>
<!ELEMENT iffable (SCONTINUE,end_spec)>
<!ELEMENT iffable (goto)>
<!ELEMENT iffable (io)>
<!ELEMENT iffable (SARITHIF,end_spec,SLPAR,expr,SRPAR,label,SCOMMA,label,SCOMMA,label)>
<!ELEMENT iffable (call)>
<!ELEMENT iffable (call,SLPAR,SRPAR)>
<!ELEMENT iffable (call,SLPAR,callarglist,SRPAR)>
<!ELEMENT iffable (SRETURN,end_spec,opt_expr)>
<!ELEMENT iffable (stop,end_spec,opt_expr)>
<!ELEMENT assignlabel (SICON)>
<!ELEMENT let (SLET)>
<!ELEMENT goto (SGOTO,end_spec,label)>
<!ELEMENT goto (SASGOTO,end_spec,name)>
<!ELEMENT goto (SASGOTO,end_spec,name,opt_comma,SLPAR,labellist,SRPAR)>
<!ELEMENT goto (SCOMPGOTO,end_spec,SLPAR,labellist,SRPAR,opt_comma,expr)>
<!ELEMENT opt_comma EMPTY><!ELEMENT opt_comma (SCOMMA)>
<!ELEMENT call (SCALL,end_spec,name)>
<!ELEMENT callarglist (callarg)>
<!ELEMENT callarglist (callarglist,SCOMMA,callarg)>
<!ELEMENT callarg (expr)>
<!ELEMENT callarg (SSTAR,label)>
<!ELEMENT stop (SPAUSE)>
<!ELEMENT stop (SSTOP)>
<!ELEMENT stop (SEXIT)>
<!ELEMENT exprlist (expr)>
<!ELEMENT exprlist (exprlist,SCOMMA,expr)>
<!ELEMENT end_spec EMPTY><!ELEMENT intonlyon EMPTY><!ELEMENT intonlyoff EMPTY><!ELEMENT io (io1)>
<!ELEMENT io1 (iofmove,ioctl)>
<!ELEMENT io1 (iofmove,unpar_fexpr)>
<!ELEMENT io1 (iofmove,SSTAR)>
<!ELEMENT io1 (iofmove,SPOWER)>
<!ELEMENT io1 (iofctl,ioctl)>
<!ELEMENT io1 (read,ioctl)>
<!ELEMENT io1 (read,infmt)>
<!ELEMENT io1 (read,ioctl,inlist)>
<!ELEMENT io1 (read,ioctl,SCOMMA,inlist)>
<!ELEMENT io1 (write,ioctl)>
<!ELEMENT io1 (write,ioctl,outlist)>
<!ELEMENT io1 (print)>
<!ELEMENT io1 (print,SCOMMA,outlist)>
<!ELEMENT iofmove (fmkeyword,end_spec,in_ioctl)>
<!ELEMENT fmkeyword (SBACKSPACE)>
<!ELEMENT fmkeyword (SREWIND)>
<!ELEMENT fmkeyword (SENDFILE)>
<!ELEMENT iofctl (ctlkeyword,end_spec,in_ioctl)>
<!ELEMENT ctlkeyword (SINQUIRE)>
<!ELEMENT ctlkeyword (SCLOSE)>
<!ELEMENT infmt (unpar_fexpr)>
<!ELEMENT infmt (star)>
<!ELEMENT ioctl (SLPAR,ctllist,SRPAR)>
<!ELEMENT ctllist (ioclause)>
<!ELEMENT ctllist (ctllist,SCOMMA,ioclause)>
<!ELEMENT ioclause (fexpr)>
<!ELEMENT ioclause (star)>
<!ELEMENT ioclause (power)>
<!ELEMENT ioclause (nameeq,expr)>
<!ELEMENT ioclause (nameeq,star)>
<!ELEMENT ioclause (nameeq,power)>
<!ELEMENT nameeq (SNAMEEQ)>
<!ELEMENT read (SREAD,end_spec,in_ioctl)>
<!ELEMENT write (SWRITE,end_spec,in_ioctl)>
<!ELEMENT print (SPRINT,end_spec,fexpr,in_ioctl)>
<!ELEMENT print (SPRINT,end_spec,star,in_ioctl)>
<!ELEMENT inlist (inelem)>
<!ELEMENT inlist (inlist,SCOMMA,inelem)>
<!ELEMENT inelem (lhs)>
<!ELEMENT inelem (SLPAR,inlist,SCOMMA,dospec,SRPAR)>
<!ELEMENT outlist_elem (uexpr)>
<!ELEMENT outlist_elem (other_outlist_elem)>
<!ELEMENT outlist (outlist_elem)>
<!ELEMENT outlist (out2)>
<!ELEMENT out2 (uexpr,SCOMMA,uexpr)>
<!ELEMENT out2 (uexpr,SCOMMA,other_outlist_elem)>
<!ELEMENT out2 (other_outlist_elem,SCOMMA,uexpr)>
<!ELEMENT out2 (other_outlist_elem,SCOMMA,other_outlist_elem)>
<!ELEMENT out2 (out2,SCOMMA,uexpr)>
<!ELEMENT out2 (out2,SCOMMA,other_outlist_elem)>
<!ELEMENT other_outlist_elem (complex_const)>
<!ELEMENT other_outlist_elem (SLPAR,expr,SRPAR)>
<!ELEMENT other_outlist_elem (SLPAR,uexpr,SCOMMA,dospec,SRPAR)>
<!ELEMENT other_outlist_elem (SLPAR,other_outlist_elem,SCOMMA,dospec,SRPAR)>
<!ELEMENT other_outlist_elem (SLPAR,out2,SCOMMA,dospec,SRPAR)>
<!ELEMENT in_ioctl EMPTY><!ELEMENT star (SSTAR)>
<!ELEMENT power (SPOWER)>
<!ELEMENT SEOS (#PCDATA)>
<!ELEMENT SCOMMENT (#PCDATA)>
<!ELEMENT SLABEL (#PCDATA)>
<!ELEMENT SUNKNOWN (#PCDATA)>
<!ELEMENT SHOLLERITH (#PCDATA)>
<!ELEMENT SICON (#PCDATA)>
<!ELEMENT SRCON (#PCDATA)>
<!ELEMENT SDCON (#PCDATA)>
<!ELEMENT SBITCON (#PCDATA)>
<!ELEMENT SOCTCON (#PCDATA)>
<!ELEMENT SHEXCON (#PCDATA)>
<!ELEMENT STRUE (#PCDATA)>
<!ELEMENT SFALSE (#PCDATA)>
<!ELEMENT SNAME (#PCDATA)>
<!ELEMENT SNAMEEQ (#PCDATA)>
<!ELEMENT SFIELD (#PCDATA)>
<!ELEMENT SSCALE (#PCDATA)>
<!ELEMENT SINCLUDE (#PCDATA)>
<!ELEMENT SLET (#PCDATA)>
<!ELEMENT SASSIGN (#PCDATA)>
<!ELEMENT SAUTOMATIC (#PCDATA)>
<!ELEMENT SBACKSPACE (#PCDATA)>
<!ELEMENT SBLOCK (#PCDATA)>
<!ELEMENT SCALL (#PCDATA)>
<!ELEMENT SCHARACTER (#PCDATA)>
<!ELEMENT SCLOSE (#PCDATA)>
<!ELEMENT SCOMMON (#PCDATA)>
<!ELEMENT SCOMPLEX (#PCDATA)>
<!ELEMENT SCONTINUE (#PCDATA)>
<!ELEMENT SDATA (#PCDATA)>
<!ELEMENT SDCOMPLEX (#PCDATA)>
<!ELEMENT SDIMENSION (#PCDATA)>
<!ELEMENT SDO (#PCDATA)>
<!ELEMENT SDOUBLE (#PCDATA)>
<!ELEMENT SELSE (#PCDATA)>
<!ELEMENT SELSEIF (#PCDATA)>
<!ELEMENT SEND (#PCDATA)>
<!ELEMENT SENDFILE (#PCDATA)>
<!ELEMENT SENDIF (#PCDATA)>
<!ELEMENT SENTRY (#PCDATA)>
<!ELEMENT SEQUIV (#PCDATA)>
<!ELEMENT SEXTERNAL (#PCDATA)>
<!ELEMENT SFORMAT (#PCDATA)>
<!ELEMENT SFUNCTION (#PCDATA)>
<!ELEMENT SGOTO (#PCDATA)>
<!ELEMENT SASGOTO (#PCDATA)>
<!ELEMENT SCOMPGOTO (#PCDATA)>
<!ELEMENT SARITHIF (#PCDATA)>
<!ELEMENT SLOGIF (#PCDATA)>
<!ELEMENT SIMPLICIT (#PCDATA)>
<!ELEMENT SINQUIRE (#PCDATA)>
<!ELEMENT SINTEGER (#PCDATA)>
<!ELEMENT SINTRINSIC (#PCDATA)>
<!ELEMENT SLOGICAL (#PCDATA)>
<!ELEMENT SNAMELIST (#PCDATA)>
<!ELEMENT SOPEN (#PCDATA)>
<!ELEMENT SPARAM (#PCDATA)>
<!ELEMENT SPAUSE (#PCDATA)>
<!ELEMENT SPRINT (#PCDATA)>
<!ELEMENT SPROGRAM (#PCDATA)>
<!ELEMENT SPUNCH (#PCDATA)>
<!ELEMENT SREAD (#PCDATA)>
<!ELEMENT SREAL (#PCDATA)>
<!ELEMENT SRETURN (#PCDATA)>
<!ELEMENT SREWIND (#PCDATA)>
<!ELEMENT SSAVE (#PCDATA)>
<!ELEMENT SSTATIC (#PCDATA)>
<!ELEMENT SSTOP (#PCDATA)>
<!ELEMENT SSUBROUTINE (#PCDATA)>
<!ELEMENT STHEN (#PCDATA)>
<!ELEMENT STO (#PCDATA)>
<!ELEMENT SUNDEFINED (#PCDATA)>
<!ELEMENT SWRITE (#PCDATA)>
<!ELEMENT SLPAR (#PCDATA)>
<!ELEMENT SRPAR (#PCDATA)>
<!ELEMENT SEQUALS (#PCDATA)>
<!ELEMENT SCOLON (#PCDATA)>
<!ELEMENT SCOMMA (#PCDATA)>
<!ELEMENT SCURRENCY (#PCDATA)>
<!ELEMENT SPLUS (#PCDATA)>
<!ELEMENT SMINUS (#PCDATA)>
<!ELEMENT SSTAR (#PCDATA)>
<!ELEMENT SSLASH (#PCDATA)>
<!ELEMENT SPOWER (#PCDATA)>
<!ELEMENT SCONCAT (#PCDATA)>
<!ELEMENT SAND (#PCDATA)>
<!ELEMENT SOR (#PCDATA)>
<!ELEMENT SNEQV (#PCDATA)>
<!ELEMENT SEQV (#PCDATA)>
<!ELEMENT SNOT (#PCDATA)>
<!ELEMENT SEQ (#PCDATA)>
<!ELEMENT SLT (#PCDATA)>
<!ELEMENT SGT (#PCDATA)>
<!ELEMENT SLE (#PCDATA)>
<!ELEMENT SGE (#PCDATA)>
<!ELEMENT SNE (#PCDATA)>
<!ELEMENT SENDDO (#PCDATA)>
<!ELEMENT SWHILE (#PCDATA)>
<!ELEMENT SSLASHD (#PCDATA)>
<!ELEMENT SUNROLL (#PCDATA)>
<!ELEMENT SDOALL (#PCDATA)>
<!ELEMENT SDOSINGLE (#PCDATA)>
<!ELEMENT SGRANULARITY (#PCDATA)>
<!ELEMENT SNOCLUS (#PCDATA)>
<!ELEMENT SCLUS (#PCDATA)>
<!ELEMENT SSTATE (#PCDATA)>
<!ELEMENT SOPER (#PCDATA)>
<!ELEMENT SIFSINGLE (#PCDATA)>
<!ELEMENT SREPEAT (#PCDATA)>
<!ELEMENT SUNTIL (#PCDATA)>
<!ELEMENT SEXIT (#PCDATA)>
<!ELEMENT SLOCAL (#PCDATA)>
<!ELEMENT SNODEP (#PCDATA)>
<!ELEMENT SPERCENT (#PCDATA)>
<!ELEMENT SDOISV (#PCDATA)>
<!ELEMENT SDOSSV (#PCDATA)>
<!ELEMENT SENDDOSSV (#PCDATA)>
